.but {
    background-color: #34b7a7;
  }
  .color {
    background-color: #e9e8e6;
    
  }
  .col
  {
    color: #7B3F00;
    border: 2px solid transparent;
    border-radius: 25%;
  }
  .col:hover
  {
    border: 2px solid #F9A602;
  }
  .icons
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    color: #7B3F00;

  }
  .icons:hover {
    color:#F9A602;
    transition: ease-in-out;
  }
  
  .anc {
    text-decoration: none;
    color: #F9A602;
  }
  .but:hover {
    background-color: #21e2c1;
  }
  
  .menu {
    position: relative;
  }
  
  .menu::after {
    content: "";
    background-color: #F9A602;
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0; 
    left: 0; 
    transition: width 200ms ease-in-out; 
    margin-left: 30px;
  }
  
  .menu:hover::after {
    width: 40%;
    margin-left: 30px;
  }
  
  .menu1 {
    position: relative;
  }
  .menu1::after {
    content: "";
    background-color: #34b7a7;
    display: block;
    width: 40%;
    height: 2px;
    margin: 4px;
    position: absolute;
  }
  